{% extends 'base01.html' %}


{% block additionalstyle %}
<style>

    #navdispose{
        font-weight: bolder;
        border-style: none none double none;
        border-color: chartreuse;
        border-bottom-width: thick;
    }
 </style>
{% endblock %}


{%  block content %}


    <section>
        <div class="container mt-3 mb-2">
            <div class="row">

                <div class="m-auto">
 
                    <form action="/" method="POST">
                        {% csrf_token %}

                        <h4>Find collection points near you</h4>
                        <select required class="form-select btn-light btn-outline-dark" style="width: 300px;height:40px;border-radius:18px;" name="place" >
                            <option hidden>Select Nearest Locality</option>
                            {% for places in localities %}
                            <option value="{{places.id}}">{{places.locality}}</option>
                            {% endfor %}
                        </select>
                        <input class="float-right btn btn-primary ml-1" type="submit" value="Go">
                    </form>
                </div>

            </div>

        </div>



        <div class="container mt-5">
            <div class="row">
                {% for shops in shopobj %}
                <div class="col-md-3 ">

                    
                    <div class="card" style="width: 18rem;height: 28rem;">
                        <img class="card-img-top" src="{{shops.image.url}}"
                            alt="Card image cap" style="height: 17rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{shops.name}}</h5>
                            <p class="card-text"><b> {{shops.locality}}</b></p>
                            <form action="/shopoverview" method="GET">
                                {% csrf_token %}
                                <input type="hidden" name="shopid" value="{{shops.id}}">
                                <input class="float-right btn btn-primary ml-1" type="submit" value="Show more">
                            </form>
                        </div>
                    </div>
                    
                </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}