{% extends 'base01.html' %}


{% block additionalstyle %}
<style>

    #navdispose{
        font-weight: bolder;
        border-style: none none double none;
        border-color: chartreuse;
        border-bottom-width: thick;
    }
 </style>
{% endblock %}


{% block content %}

<section>
    <div class="container">
        <div class="row">

            <div class="m-auto">
                <div class="m-auto">
                <h3 class="mt-3 mb-3">
                    Shop Details
                </h3>
                </div>
                {% for shops in shopdetails %}
                <div class="col-md-3 ">

                    
                    <div class="card" style="width: 38rem;height: 52rem;">
                        <img class="card-img-top" src="{{shops.image.url}}"
                            alt="Card image cap" style="height: 17rem;">
                        <div class="card-body">
                            <h3 class="card-title">{{shops.name}}</h5>
                            <p class="card-text">Location: <b>{{shops.locality}}</b></p>
                            <p class="card-text">Description: <b>{{shops.description}}</b></p>
                            <p class="card-text">Mobile number: <b>{{shops.shopmobile}}</b></p>     
                            <a class="card-text btn btn-danger" href="{{shops.gmaplink}}" target="_blank">Get Direction</a>                      
                            <form action="/shopoverview" method="POST">
                                {% csrf_token %}
                                <p class="mt-3" style="color: crimson;">***  ***  ***  ***  Apply for token only if you are currently at the shop  ***  ***  ***  ***</p>
                                <input type="hidden" name="shopid" value="{{shops.id}}">
                                <input class="float-right btn btn-primary " type="submit" value="Take a token to dispose plastic at this shop">
                            </form>
                        </div>
                    </div>
                    
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}